{{>header}}

<div class="main-wrapper-login">
    <div class="op-layer"></div>


    <div class="main-rotate">
        <div class="first-slide">
            <div class="main-login-text">
                <div class="main-login-text-title">
                    <span>Добро пожаловать</span>
                </div>
                <div class="main-login-text-t">
                    <span>Перед вами сервис, который поможет вам организовать свои фотографии <br> в альбомы и поделиться ими со всем миром!</span>
                </div>
            </div>


            <div class="main-form-block">
                <div class="main-form-wrapper">
                    <form action="/" method="post" class="main-form main-login-form">
                        <div class="main-form-inputs">
                            <div class="input-wrapper">
                                <input type="text" name="email" value="Электронная почта"  class="form-input form-email-input"/>
                            </div>
                            <div class="input-wrapper">
                                <input type="text" name="pass" value="Пароль"  class="form-input form-pass-input" />
                            </div>
                        </div>
                        <div class="pass-reset-wrapper">
                            <span><a href="#">Забыли пароль?</a></span>
                        </div>
                        <div class="bt-wrapper">
                            <button class="bt bt-login">Войти</button>
                        </div>
                        <div class="reg-sec-wrapper">
                            <span>Нет аккаунта? <a href="#" class="rotate-href">Зарегистрироваться</a></span>
                        </div>
                    </form>              
                </div>
            </div>
        </div>

        <div class="second-slide">
            <div class="main-login-text">
                <div class="main-login-text-title">
                    <span>Регистрация</span>
                </div>
            </div>


            <div class="main-form-block">
                <div class="main-form-wrapper">
                    <form action="/" method="post" class="main-form main-reg-form">
                        <div class="main-form-inputs">
                            <div class="input-wrapper">
                                <input type="text" name="email" value="Имя" class="form-input form-fname-input" />
                            </div>
                            <div class="input-wrapper">
                                <input type="text" name="pass" value="Фамилия"  class="form-input form-lname-input" />
                            </div>
                            <div class="input-wrapper">
                                <input type="text" name="email" value="Электронная почта" class="form-input form-email-input" />
                            </div>
                            <div class="input-wrapper">
                                <input type="text" name="pass" value="Пароль"  class="form-input form-pass-input" />
                            </div>
                        </div>
                        <div class="bt-wrapper">
                            <button class="bt bt-reg">Зарегистрироваться</button>
                        </div>
                        <div class="reg-sec-wrapper">
                            <span>Уже есть аккаунт? <a href="#" class="rotate-href">Войти</a></span>
                        </div>
                    </form>              
                </div>
            </div>
        </div>
    </div>

     
</div>
