{{>header}}

<div class="main-wrapper-login">
    <div class="op-layer"></div>

    <div class="main-login-text">
        <div class="main-login-text-title">
            <span>Добро пожаловать</span>
        </div>
        <div class="main-login-text-t">
            <span>Перед вами сервис, который поможет вам организовать свои фотографии <br> в альбомы и поделиться ими со всем миром!</span>
        </div>
    </div>


    <div class="main-login-form-block">
        <div class="main-login-form-wrapper">
            <form action="/login" method="post" class="main-login-form">
                <div class="main-login-form-inputs">
                    <div class="input-wrapper">
                        <input type="text" name="email" value="Электронная почта" />
                    </div>
                    <div class="input-wrapper">
                        <input type="text" name="pass" value="Пароль" />
                    </div>
                </div>
                <div class="pass-reset-wrapper">
                    <span><a href="#">Забыли пароль?</a></span>
                </div>
                <div class="bt-wrapper">
                    <button class="bt bt-login">Войти</button>
                </div>
                <div class="reg-sec-wrapper">
                    <span>Нет аккаунта? <a href="#">Зарегистрироваться</a></span>
                </div>
            </form>              
        </div>
    </div>
     
</div>
