{{>header}}

<body>
    <div class="op-layer"></div>
    <div class="main-login-form">
        <div class="form-wrapper">
            <form action="/login" method="GET"> 
                <div class="form-email-field">
                    <input type="email" class="email-input" name="email-field">
                </div>
                <div class="form-pass-field">
                    <input type="password" class="pass-input" name="pass-field">
                </div> 
                <button class="bt login-bt">Войти</button>              
            </form>
        </div>
    </div>    
</body>
